.footer-left {
  position: relative;
  color: white;
  flex-grow: 1;
  pointer-events: none;
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-left: 5px;
}

.username {
  font-size: 16px;
  font-weight: 700;
}

.username h4 {
  margin: 0;
  font-size: 16px;
  font-weight: 700;
  color: white;
}

.description {
  font-size: 14px;
  font-weight: 500;
  color: white;
  max-width: 300px;
}

.description p {
  margin: 0;
}

.song {
  display: flex;
  align-items: center;
  gap: 8px;
  font-size: 12px;
  color: white;
}

.marquee {
  margin: 0;
  animation: marquee 10s linear infinite;
}

@keyframes marquee {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}

.footer-container {
  display: flex;
  flex-direction: column;
  margin-bottom: 60px;
}

.ticker {
  height: fit-content;
  width: 100%;
  display: flex;
  align-items: center;
}

.ticker marquee {
  display: flex;
  align-items: center;
  width: 100%;
}

.text {
  width: 100%;
}

.text h3 {
  font-size: 18px;
  font-weight: 700;
  margin-bottom: 5px;
}

.text p {
  font-size: 14px;
  font-weight: 500;
}

.text span {
  font-size: 12px;
  font-weight: 400;
  color: #fff;
}