html {
  scroll-snap-type: y mandatory;
  font-family: 'Montserrat', sans-serif;
  background-color: #000;
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 0;
  background-color: #000;
}

.app {
  width: 100vw;
  height: 100vh;
  background-color: #000;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  margin: 0;
}

.container {
  position: relative;
  width: 375px;
  height: 100vh;
  background-color: #000;
  overflow-y: scroll;
  scroll-snap-type: y mandatory;
  padding-top: 60px;
  padding-bottom: 60px;
  box-sizing: border-box;
}

.container::-webkit-scrollbar {
  display: none;
}

.container {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.video-container {
  display: flex;
  flex-direction: column;
  height: auto;
}

.search-results-header {
  position: fixed;
  top: 60px;
  left: 50%;
  transform: translateX(-50%);
  width: 375px;
  background: rgba(0, 0, 0, 0.9);
  color: white;
  padding: 12px 15px;
  z-index: 150;
  text-align: center;
  font-size: 14px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

.search-results-header strong {
  color: #ff0050;
}

.search-results-header p {
  margin: 8px 0 0 0;
  font-size: 12px;
  color: #999;
}

.top-navbar {
  position: fixed;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 375px;
  height: 60px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #000;
  z-index: 200;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

.top-navbar h2 {
  font-size: 14px;
  font-weight: 500;
  color: #fff;
  text-shadow: 0 0 2px rgba(0, 0, 0, 0.5);
  padding: 0 40px;
}

.top-navbar h2 span {
  font-weight: 700;
  position: relative;
}

.top-navbar h2 span::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: -2px;
  width: 50%;
  height: 1px;
  background-color: #fff;
  transform: translateX(50%);
}


.top-navbar .icon {
  font-size: 16px;
  color: #fff;
  cursor: pointer;
}

.bottom-navbar {
  position: fixed;
  background-color: #161616;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 375px;
  height: 60px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  z-index: 200;
  border-top: 1px solid rgba(255, 255, 255, 0.1);
}

.bottom-navbar .nav-item {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.bottom-navbar .icon {
  font-size: 18px;
  color: #d4d3d3;
}

.bottom-navbar .plus{
  background-color: #fff;
  color: #161616;
  padding: 5px 10px;
  border-radius: 25%;
  border-right: 5px solid red;
  border-left: 5px solid turquoise;
  font-size: 12px;
}

.bottom-navbar .item-name {
  color: #d4d3d3;
  font-size: 10px;
  margin-top: 2px;
}

.bottom-navbar .active {
  color: #fff;
}

.bottom-navbar .notification {
  position: absolute;
  top: 0;
  left: 260px;
  background-color: red;
  color: #fff;
  font-size: 7px;
  padding: 5px;
  border-radius: 50%;
}